
body {
    background: #8c0c26;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Lato', sans-serif;
}
h1{
    text-align: center;
}
.social{
    width: 2%;
    padding: 1px;
    margin: 0 auto;

}
.twitter-timeline{
    position: absolute;
    padding: 20px;

}
img {
    margin: auto;
    margin-left: 42.5%;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    padding: 0px;
    width: 15%;
}
p {
    text-align: center;
    font-size: 18px;

}
#1{
    font-size: 200px;
}
button{
    padding:10px;
    margin: 20px 10px;
    border-radius: 3px;
    border-style:solid;
    border-width:1px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}
ul {
    text-align:right;
    list-style: none;
    width: 40%;
    float:right;
    solid #ccc;
}
ul li a{
    display: block;
    text-decoration:none;
    color: #3d3d3d;
    background:#fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-bottom: 0;
    border-radius: 5px
}
li ul{
    position: relative ;
    width:100%;
    right: auto;
    top: 100;
    display: none;
}

.nest{
    font-size:14px;
    color:#8c0c26;
;
}

li:hover ul, li.over ul {
 display: block; }


