.head{
    width: 100%;
    background: #284d1f;
    min-height: 50px;
}
body {
    text-align: center;
    background: #D1CA9F;
    background-size: cover;
    background-position: center;
    color: black;
    font-family: 'Lato', sans-serif;
}
h1{
}
h2{
    font-family: 'Dancing Script';
    color: #black;
    width: 50%;
    font-size: 18px;
    display: block;
}
p {
    font-size: 18px;

}
#aboutme {
    width: 100%;
    display:block;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
    margin: 10px;
    font-weight: 100px;
}
img {
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
    padding: 0px;
}
button{
    padding:10px;
    margin: 20px 10px;
    border-radius: 3px;
    border-style:solid;
    border-width:1px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}
ul {
    margin: auto;
    padding: 0;
    list-style: none;
    width: 70%;
    border-bottom:2px solid #ccc;
}
ul li{
    position: relative;
}
ul li a{
    display: block;
    text-decoration:none;
    color: #3d3d3d;
    background:#fff;
    padding: 5px;
    border: 1px solid #ccc;
    border-bottom: 0;
    border-radius: 5px
}
li ul{
    position: relative ;
    width:85%;
    left: 0;
    top: 100;
    display: none;
}

.nest{
    font-size:14px;
    color:#284d1f;
;
}

li:hover ul, li.over ul {
 display: block; }


